<!-- Only show on /gather, hide on /gather/analyze/... -->
<div *ngIf="!isChildRoute" class="gather-container">
  <div class="content-container">
    <div class="main-content">
      <div class="header">Select dataset</div>
      <p class="header-content">
        Select a
        <a
          class="hra-highlight"
          href="https://humanatlas.io/"
          target="_blank"
          rel="noopener noreferrer"
          >Human Reference Atlas</a
        >
        dataset to get started.
      </p>
      <!-- 2. One section per category -->
      <div
        class="category-section"
        *ngFor="let cat of sectionIds"
        [attr.id]="cat"
      >
        <h2 class="category-title">{{ cat }}</h2>

        <div class="card-list">
          <div
            class="dataset-card"
            *ngFor="let story of getStoriesByCategory(cat)"
          >
            <img
              class="dataset-image"
              [src]="story.image_url"
              [alt]="'Dataset ' + story.id"
            />
            <div class="card-content">
              <h3 class="dataset-title">{{ story.userstory }}</h3>
              <p class="dataset-description">{{ story.description }}</p>
            </div>
            <button class="use-btn" (click)="onExplore(story.id)">
              Use dataset
            </button>
          </div>
        </div>
      </div>
    </div>
    <aside class="sidebar">
      <nav class="page-nav" *ngIf="sectionIds.length">
        <ul>
          <span>On this page</span>
          <li
            *ngFor="let cat of sectionIds"
            [class.active]="currentSection === cat"
          >
            <button (click)="scrollTo(cat)">{{ cat }}</button>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

<router-outlet></router-outlet>
