:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
}

mat-toolbar {
  /* display: flex; */
  align-items: center;
  /* gap: 16px; */
  padding: 10px 20px !important;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

img {
  height: 40px;
}

mat-tab-group {
  background-color: transparent;
  margin: 0;
  padding: 0 16px;
}

::ng-deep .mat-tab-label {
  color: #000;
  margin: 0 8px;
  border-radius: 12px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 0.95rem;
  text-transform: none;
  transition: background-color 0.3s, color 0.3s;
  align-items: center;
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  background-color: #ff0043 !important;
}

::ng-deep .mat-ink-bar {
  background-color: transparent !important;
}

router-outlet {
  flex: 1;
  /* padding: 10px; */
}

.code-container {
  background-color: #4c4c58;
  color: white;
  padding: 16px;
  border-radius: 6px;
  font-family: "Courier New", monospace;
  overflow: auto;
}
