<div class="home-container">
  <div class="splash">
    <div class="splash-content">
      <div class="splash-title">Create data visualizations with AI</div>

      <div class="card-group">
        <div class="splash-card" *ngFor="let c of cards">
          <div class="card-header">
            <div class="card-step">{{ c.step }}</div>
            <div class="card-title">{{ c.title }}</div>
          </div>
          <div class="card-text">{{ c.text }}</div>
        </div>
      </div>

      <div class="provider-key-text">Add your API key to get started</div>
      <div class="cta-row">
        <div class="provider-dropdown">
          <mat-form-field appearance="fill" class="provider-select">
            <mat-label class="label">Select provider</mat-label>
            <mat-select [(value)]="selectedProvider">
              <mat-option
                *ngFor="let provider of providers"
                [value]="provider.value"
                class="label"
              >
                {{ provider.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="api-key-box">
          <mat-form-field appearance="fill" class="api-input-wrap">
            <mat-label class="label">Enter your API key here</mat-label>
            <input
              matInput
              [(ngModel)]="apiKey"
              [type]="showKey ? 'text' : 'password'"
              autocomplete="off"
            />
            <mat-icon
              matSuffix
              class="toggle-visibility"
              (click)="toggleKeyVisibility()"
            >
              {{ showKey ? "visibility_off" : "visibility" }}
            </mat-icon>
          </mat-form-field>
        </div>

        <button
          mat-raised-button
          color="primary"
          class="use-btn"
          (click)="onGetStarted()"
        >
          Get started
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <button class="use-btn" (click)="onGetStarted()">Get started</button> -->
